In [1]:
# We will load all required modules first.
try:
    from dstaster import *
except:
    !pip install wget

    import wget
    url = 'https://raw.githubusercontent.com/BBKdatasciencetaster/DS/main/dstaster.py'
    wget.download(url)
    from dstaster import *

Collecting wget
  Downloading wget-3.2.zip (10 kB)
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9672 sha256=0426c5924486a10fceff460a2711a792c7ba2b8988f42b8b9e3f9c4f09cd7799
  Stored in directory: /root/.cache/pip/wheels/a1/b6/7c/0e63e34eb06634181c63adacca38b79ff8f35c37e3c13e3c02
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2


The following cell loads the dataset as in the last notebook. You should see a table with the data printed when you run it.

In [2]:
collection = pd.read_csv("https://raw.githubusercontent.com/BBKdatasciencetaster/DS/main/data/paintings.csv", index_col=0)
display(collection)

                                artist  ... width
T13896                  John Constable  ...  1920
T05010                   Pablo Picasso  ...   500
N05915                   Pablo Picasso  ...   600
N00530   Joseph Mallord William Turner  ...  1219
T00598                    Richard Dadd  ...   394
...                                ...  ...   ...
N05609                  Maurice Sterne  ...  1022
T14823                  Unknown artist  ...   480
AL00397               Louise Bourgeois  ...  1116
T14824                  Unknown artist  ...   511
T14825                  Unknown artist  ...   455

[2158 rows x 6 columns]

<h2>Querying data with pandas</h2>

In the last notebook we saw how we can use the index notation `collection[...]` to access a single column from the DataFrame. The last task in the notebook asked you to find the range of the `year` column and to figure out which is the earliest and the latest year for which the collection contains a painting. But of course we would also like to know _which_ paintings those are!

For questions like this, we need to figure out how to select certain <b>rows</b> of the data. To do that, we need to talk about <i>boolean indices</i>. If you are not familiar with the term, boolean (after <a href="https://en.wikipedia.org/wiki/George_Boole">George Boole</a>) refers to variables that only take on the values `True` or `False`. 

A boolean index for a DataFrame is a pandas Series that has the same index-column as the DataFrame (in our case the artwork ids T13896, T05010, ...) and contains only a True/False value for each entry. You can imagine this boolean index like a filter: when we pass it to the DataFrame, it returns only those rows for which the corresponding boolean variable in the index is True. 

But how do we create such an index? Setting each value by hand would be cumbersome. Instead, we can ask pandas basic thruth-questions and obtain a boolean index. Let us try a simple example. The first painting in the collection is by "John Constable". Let us create a boolean index that checks whether the &lsquo;artist&rsquo; column contains this name "John Constable":

In [3]:
artist = collection['artist'] # The artist columns
idx = artist == "John Constable"
idx # Equivalent to display(idx)

T13896      True
T05010     False
N05915     False
N00530     False
T00598     False
           ...
N05609     False
T14823     False
AL00397    False
T14824     False
T14825     False
Name: artist, Length: 2158, dtype: bool

The multiple equality signs might look confusing. To help with that, remember that `=` is an assignment (we assign the right hand side to the variable on the left of it) and `==` is a boolean comparison. You should `==` as &ldquo;is equal to&rdquo;.

Let's take the content of the cell step by step. While this is very little code, a lot is going on in the background, so don't worry if it takes a while for this to make sense.

<div style="padding: 1em 2em">
    <b>Line 1)</b> <code>artist = collection['artist']</code>

This assigns the &lsquo;artist&rsquo; column fo the DataFrame `collection` to a new Series variable called `artist`. 

<b>Line 2a)</b> <code>idx = <b>artist == "John Constable"</b></code>

This part of line 2  asks pandas to compare every entry of the Series `artist` to the value `"John Constable"`. The result is a boolean index: for every entry of the Series `artist` it contains the value `True` if it is equal to `"John Constable"` and `False` otherwise.

<b>Line 2b)</b> <code><b>idx =</b> artist == "John Constable"`</code>

The rest of the line,
`idx = artist == "John Constable"`, assigns the boolean index to a new Series variable called `idx` so we can make use of it.

<b>Line 3)</b> <code>idx</code>

Finally, the last line lets Jupyter know that we would like to view the content of the variable `idx`. This is the same as writing `display(idx)`.
</div>

So, what do we do with our boolean index? As mentioned above, we can now pass it to the DataFrame in order to select those rows for which the index contains the value `True`&mdash;in our case, all paintings by John Constable. Pandas is pretty consistent in its notation here, we pass the boolean index as we would any other type of index by using the index brackets `[...]`.

<div class="note">If this seems a bit magical, that's because it is! Pandas does a lot of work in the background to figure out what exactly we mean when we pass something via the index brackets.</div>

So, let's try it:

In [4]:
constable = collection[idx]
constable

                artist  ... width
T13896  John Constable  ...  1920
N01273  John Constable  ...  1270
N04810  John Constable  ...  1673
T04904  John Constable  ...  2180
N02661  John Constable  ...   765
N02653  John Constable  ...   768
N01275  John Constable  ...   762
N05957  John Constable  ...  1829
N02655  John Constable  ...   251
N01236  John Constable  ...   670
N01244  John Constable  ...   514
N02650  John Constable  ...   505
N00327  John Constable  ...  1251
N01814  John Constable  ...   511
N01274  John Constable  ...   956
N01235  John Constable  ...   686
N01819  John Constable  ...   264
N01276  John Constable  ...   502
T07822  John Constable  ...   925
T11862  John Constable  ...   510
N01813  John Constable  ...   502
T03902  John Constable  ...   639
N02659  John Constable  ...   740
T12293  John Constable  ...   620
N01246  John Constable  ...   302
N04237  John Constable  ...   768
N01823  John Constable  ...   781
N02654  John Constable  ...   190
T03901  John Constable  ...   632
N05966  John Constable  ...   649
N02657  John Constable  ...   251
N02658  John Constable  ...   254
N05965  John Constable  ...   645
T01141  John Constable  ...   502

[34 rows x 6 columns]

It turns out that quite a few paintings by John Constable are contained in the collection. Note that the result is again a DataFrame, so we can perform the same queries as we did before!

<div class="task">
    <div class="no">1</div>
    <div>
        Use the cell below to find the earliest and latest year for which a painting
        by John Constable exists in the collection.
    </div>
</div>

<ol class="hints">
    <li><div>Use the DataFrame <code>constable</code>.</div></li>
    <li><div>Remember the methods <code>.min()</code> and <code>.max()</code> we used in the last notebook.</div></li>
</ol>

In [5]:
)

SyntaxError: ignored

In [7]:
constable.columns

Index(['artist', 'title', 'year', 'groundtruth', 'height', 'width'], dtype='object')

In [10]:
constable['year'].min()

1800

In [11]:
constable['year'].max()

1836

<h2>The earliest/latest painting</h2>

Having worked through boolean indexing, we can now work towards answering the question posed at the beginning: what is the earliest and what is the latest painting in the collection? Let us find the earliest painting first:

In [ ]:
min_year = collection['year'].min() 
idx = collection['year'] == min_year
collection[idx]

,artist,title,year,groundtruth,height,width
T03028,Marcus Gheeraerts II,Portrait of Captain Thomas Lee,1594,P,2305,1508

Let us discuss this code cell step by step.


<div style="padding: 1em 2em">
    <b>Line 1)</b> <code>min_year = collection['year'].min() </code>

We ask pandas to find the smallest value in the &lsquo;year&rsquo; column and store it in the variable `min_year`.

<b>Line 2a)</b> <code>idx = <b>collection['year'] == min_year</b></code>

This part of line 2 asks pandas to compare every entry of the  &lsquo;year&rsquo; column to the value stored in `min_year`. The result is a boolean index: for every entry of the &lsquo;year&rsquo; column it contains the value `True` if it is equal to the smallest value in the &lsquo;year&rsquo; column and `False` otherwise.

<b>Line 2b)</b> <code><b>idx =</b> collection['year'] == min_year</code>

The rest of the line,assigns the boolean index to a new Series variable called `idx` so we can make use of it.

<b>Line 3)</b> <code>collection[idx]</code>

Finally, the last line asks pandas to return those rows of `collection` for which `idx` contains the value `True`, that is, those rows where the  &lsquo;year&rsquo; column is euqal to the minimum year. Since this is the last line of the cell, this also asks Jupyter to display the result of this query.
</div>

<div class="task">
    <div class="no">2</div>
    <div class="text">
        Use the above code cell as a template to fill out the code cell below, but this time output
        the <b>latest</b> painting in the collection. Afterwards, return to FutureLearn to discuss your findings!
    </div>
</div>

In [ ]:
# Write your code here

This concludes our look at the pandas library. In summary, pandas is a powerful tool to load, query, and manipulate tabular data. Data processing with pandas (and Python in general) has the big advantage that we can turn our work (e.g. the code we wrote) into a script, something that can be run on other datasets.

This form of processing is often compared to a &ldquo;pipeline&rdquo;: input data is turned into output data, which in turn can serve as input for another program. Contrast this to software like e.g. Excel, where it is very cumbersome repeat an analysis.