In [7]:
import sqlite3

In [8]:
conn = sqlite3.connect('test.db')
 
conn.execute('''
CREATE TABLE Departments (
   Code INTEGER PRIMARY KEY NOT NULL,
   Name NVARCHAR NOT NULL ,
   Budget REAL NOT NULL 
 );''')
 
conn.commit()
 
print("Departments table created");
 
conn.execute('''
CREATE TABLE Employees (
   SSN INTEGER PRIMARY KEY NOT NULL,
   Name TEXT NOT NULL ,
   LastName VARCHAR NOT NULL ,
   Department INTEGER NOT NULL ,
   Salary INTEGER NOT NULL,
   CONSTRAINT fk_Departments_Code FOREIGN KEY(Department) 
   REFERENCES Departments(Code)
 );''')
 
conn.commit()
 
print("Employees table created");

Departments table created
Employees table created

In [9]:
conn.execute("INSERT INTO Departments(Code,Name,Budget) VALUES(14,'IT',65000);")
conn.execute("INSERT INTO Departments(Code,Name,Budget) VALUES(37,'Accounting',15000);")
conn.execute("INSERT INTO Departments(Code,Name,Budget) VALUES(59,'Human Resources',240000);")
conn.execute("INSERT INTO Departments(Code,Name,Budget) VALUES(77,'Research',55000);")
 
# Inserting data to Employees table
conn.execute("INSERT INTO Employees(SSN,Name,LastName,Department,Salary) VALUES('123234877','Michael','Rogers',14,100);")
conn.execute("INSERT INTO Employees(SSN,Name,LastName,Department,Salary) VALUES('152934485','Anand','Manikutty',14,300);")
conn.execute(" INSERT INTO Employees(SSN,Name,LastName,Department,Salary) VALUES('222364883','Carol','Smith',37,200); ")
conn.execute(" INSERT INTO Employees(SSN,Name,LastName,Department,Salary) VALUES('326587417','Joe','Stevens',37,150); ")
conn.execute(" INSERT INTO Employees(SSN,Name,LastName,Department,Salary) VALUES('332154719','Mary-Anne','Foster',14,500);")
conn.execute(" INSERT INTO Employees(SSN,Name,LastName,Department,Salary) VALUES('332569843','George','O''Donnell',77,140);")
conn.execute(" INSERT INTO Employees(SSN,Name,LastName,Department,Salary) VALUES('546523478','John','Doe',59,80);")
conn.execute("INSERT INTO Employees(SSN,Name,LastName,Department,Salary) VALUES('631231482','David','Smith',77,90);")
conn.execute(" INSERT INTO Employees(SSN,Name,LastName,Department,Salary) VALUES('654873219','Zacary','Efron',59,600);")
conn.execute(" INSERT INTO Employees(SSN,Name,LastName,Department,Salary) VALUES('745685214','Eric','Goldsmith',59,130);")
conn.execute(" INSERT INTO Employees(SSN,Name,LastName,Department,Salary) VALUES('845657245','Elizabeth','Doe',14,120);")
conn.execute(" INSERT INTO Employees(SSN,Name,LastName,Department,Salary) VALUES('845657246','Kumar','Swamy',14,50);")
conn.commit()

In [10]:

3
4
5
# simple test queries
conn = sqlite3.connect('test.db')
cursor = conn.execute(''' SELECT * FROM Departments ''')
for row in cursor:
  print(row)

(14, 'IT', 65000.0)
(37, 'Accounting', 15000.0)
(59, 'Human Resources', 240000.0)
(77, 'Research', 55000.0)

In [11]:
import pandas as pd
import numpy as np

In [13]:
df1 = pd.read_sql_query("SELECT * FROM Departments", conn)

In [14]:
df1

   Code             Name    Budget
0    14               IT   65000.0
1    37       Accounting   15000.0
2    59  Human Resources  240000.0
3    77         Research   55000.0